{% extends 'base.html' %}

{% block title %}Register Category{% endblock %}

{% block content %}
<div class="card shadow p-4">
    <h2 class="mb-4">Register Category</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <div class="mb-3">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>
        <button type="submit" class="btn btn-success">Save Category</button>
    </form>
</div>
{% endblock %}
